/* Font styles */
.body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-greetings {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

.banner .profile-pic {
    width: 400px;
}

.btn-primary {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
}

< !-- Our Featured Flowers -->.banner-featured {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.banner-content1 {
    max-width: 500px;
    padding: 0px 800px;
}

.banner-content2 {
    max-width: 500px;
    padding: 0px 690px;
}

< !-- Hot Deal ! Sale Up To 25% Off -->.banner-mahfuz {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-container {
    display: flex;
    padding: 30px 30px 30px 150px;
    gap: 24px;

}

.last-pic {
    padding: 50px 180px 100px 180px;
}